* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background-color:   rgb(135, 236, 228)
color : #fff;
font-family: Arial;
}
.card{
  width: 300px;
  border: 1px solid rgb(179, 114, 223);
  padding: 5px;
  margin: 20px auto;
}
img{
  width: 100%;
}
h3{
  text-align: center;
  margin-top: 10px;
}
p{
  text-align: justify;
  margin-top: 20px;

}
span{
  text-align: right;
  display: block;
  margin-top: 10px;
}
button{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: aquamarine;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

